.navbar-light .navbar-brand {
       background:rgb(235, 229, 229);
    color:rgb(228, 114, 133)
}


.card-title{
    margin-right: 250px;
    float: left;
    color: rgb(228, 114, 133);
    border-block-color:rgb(228, 114, 133) ;
}

.card-text{

    float:left;
}
.project-img {
    image src
    flex-basis: 50%;
    height: 300px;
    overflow:hidden;
    position: relative;
}
.project-item {
    font: size 4rem !important;
    font: weight 500;

}
.h1 {
    font-weight: bold;
    font-size: 1.8rem;
    font-style: italic ;
}
.img {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
    float: right ;
}
.row{
    margin: 70px;
}
.heading {
    height: 70px;
    width: 80%;
    margin-top: 50px;
    color:white;
    background-color:#5AB9BA;
    padding-top: 70px;
    letter-spacing: 5px;
    margin-left: 100px;
}
.p{
    border: 2px ;
    height: 250px;
    width: 250px;
    margin-left: 100px;  
}
.footer {
    background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  color: blue 
}

.card {
    width: 600px;;
}

